@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.inactive-row {
    @apply bg-gray-50 dark:bg-gray-800;
}

.inactive-row .fi-ta-text-item {
    @apply text-gray-400 dark:text-gray-600 line-through;
}
